/* Error.css */
.error-page {
  text-align: center;
}

.error-heading {
  margin-bottom: 1rem;
  font-size: 3.75rem;
  /* Equivalent to text-6xl */
  font-weight: 600;
  /* Equivalent to font-semibold */
  color: #ef4444;
  /* Equivalent to text-red-500 */
}

.error-text {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  /* Equivalent to text-lg */
  color: #4b5563;
  /* Equivalent to text-gray-600 */
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.animate-bounce svg {
  margin: auto;
  /* Equivalent to mx-auto */
  height: 4rem;
  /* Equivalent to h-16 */
  width: 4rem;
  /* Equivalent to w-16 */
  stroke: #ef4444;
  /* Equivalent to text-red-500, assuming this is the red color */
  fill: none;
  /* Already specified, but reiterated here for clarity */
}

.link {
  color: #3b82f6;
  text-decoration: underline;
}

.btn-primary {
  background-color: #2563eb;
  /* Equivalent to bg-blue-600 */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25%);
  }
}
